.container {
  display: grid;

  margin: 40px auto 0 auto;
  width: 70vh;
}

.list-container {
  display: grid;
  width: 100%;
  border: 1px solid var(--gray-300);
  border-radius: 6px;

  .list {

    padding: 6px;

    .list-item {
      padding: 8px 16px;
      display: flex;
      align-items: center;

      &.done span.header {
        text-decoration: line-through;
      }

      span.header {
        flex: 1;
      }

      &:hover {
        background: var(--gray-200);
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid var(--gray-200);

      }
    }
  }
}

.list-head {
  padding: 6px;
  //border: 1px solid var(--gray-300);
  //border-radius: 6px;
  display: flex;

  border-bottom: 1px solid var(--gray-300);

  //button[pButton] {
  //  border-radius: 0 6px 6px 0
  //}
  //
  input[pInputText] {
    flex: 1;
    //border: 0;
  }
}


.form-container {
  margin-top: 5px;
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
}
